$enable-shadows: true;
$enable-gradients: true;
$grid-breakpoints: (
  xs: 0,
  sm: 456px,
  md: 789px,
  lg: 999px,
  xl: 1234px
);

$theme-colors: (
  "primary": #a1c2df,
  "danger": #cca2a0
);

$custom1: #900;
$theme-colors: (
  "custom1": $custom1
);

$btn-border-radius: 0.05rem;

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/src/index.scss";

@each $color, $value in $theme-colors {
  .swatch-#{$color} {
    color: color-yiq($value);
  }
}
// .custom-element {
//   color: gray("100");
//   background-color: theme-color("dark");
// }

.custom-element {
  color: theme-color-level(custom1, -10);
}
